# ================= GENERAL =================
OUTPUT_DIR="./output"

# ================= FILES =================
## IP HAYE KE TEST GREFTEH MISHAN
RESOLV_FILE="sorted_ip.txt"

## CLIENT CONFIG MASTERDNS VPN
CLIENT_FILE="client_resolvers.txt"

# ================= EXECUTABLE =================
# FILE EJRAEE CLIENT MASTER DNS 
# Example : EXECUTABLE="./MasterDnsVPN_Client_Linux_AMD64_v2026.03.12.145701-00150d5"
EXECUTABLE="./MDV"

# ================= TEST =================
TEST_URL="https://speed.cloudflare.com/__down?bytes=1000000"

# ================= SOCKS =================
# AGEH TOOYE client_config.toml set kardid, daqiqan hamoona ro benevisid
# AUTH="USER:PASS"
#    SOCKS5_USER = "master_dns_vpn"
#    SOCKS5_PASS = "master_dns_vpn"
# UPDATE KONID BE USER PASS KHODETOON
AUTH="master_dns_vpn:master_dns_vpn"

# IP and PORT
SOCKS_HOST="127.0.0.1"
SOCKS_PORT="10800"
